body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #262525;
    width: 65%;
    height: 700px;
    display: flex;
    justify-content: center;
    z-index: -1000;
    gap: 40px;
    border-radius: 24px;
}

.header {
    display: flex;
}

.navbar {
    padding-top: 26px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.headerName {
    display: flex;
    color: #FFFFFF;
}

.navbar img:nth-child(1) {
    width: 21px;
}

.navbar img {
    width: 28px;
}

.mainSection {
    display: flex;
    flex-direction: column;
    gap: 38px;
    padding-top: 20px;
}



.mainContent {
    display: flex;
    gap: 37px;
    flex-wrap: wrap;
    width: 810px;
}

.mainContent div {
    width: 245px;
    height: 153px;
    background-color: #1D1D1D;
    border-radius: 20px;
    box-shadow: 0px 4px 8px 2px #00000040;

}



.mainContent div:nth-child(4) {
    width: 100%;
    height: 195px;
    background-color: #1D1D1D;
    border-radius: 20px;
}

.mainContent div:nth-child(5), .mainContent div:nth-child(6) {
    width: 386px;
    height: 157px;
    background-color: #1D1D1D;
    border-radius: 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.purplecard {
    width: 218px;
    height: 251px;
    background: linear-gradient(136.58deg, #7B20E2 0%, #2B1043 101.73%);
    border-radius: 36px;
    position: relative;
    margin-top: 75px;
    margin-right: 61px;
}

.orangecard {
    width: 218px;
    height: 205.4163137951416px;
    background-color: #C68E3C;
    border-radius: 36px;
    position: absolute;
    z-index: -1;
    top: 178px;
    right: 390px;
    rotate: 16.56deg;
    box-shadow: 0px 4px 8px 0px #00000040 inset;


}

.greencard {
    width: 218px;
    height: 205.4163137951416px;
    background-color: #2F847F;
    border-radius: 36px;
    position: absolute;
    z-index: -3;
    top: 190px;
    right: 370px;
    rotate: 34deg;
    box-shadow: 0px 4px 8px 0px #00000040 inset;
    

}


.sidebar div:nth-child(4) {
    width: 258px;
    height: 273px;
    background-color: #1D1D1D;
    border-radius: 20px;
    box-shadow: 0px 4px 8px 2px #00000040;
    margin-bottom: 45px;
}